<!-- views/vehicle/transaction/display.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Details</title>
</head>
<body>
    <h1>Transaction Details</h1>
    <p>User ID: <%= user_id %></p>
    <p>Transaction ID: <%= trans_id %></p>
    <p>Amount: <%= amount %> Rs.</p>
    <p>Intime: <%= intime %></p>
    <p>Outtime: <%= outtime %></p>
    <!-- Add any additional details you want to display -->
</body>
</html>
